<div class="pt-20 pb-10 px-5 min-h-screen bg-black flex flex-col items-center">

  <h1 class="text-white text-3xl font-bold mb-16 drop-shadow-lg text-center tracking-[0.2em]">
    🚀 SISTEMA SOLAR
  </h1>

  @if (planetsName$ | async; as planetas) {
    <div class="flex flex-row items-center justify-between w-full max-w-7xl gap-8 mt-12">

      <div class="flex flex-col gap-6 items-end w-1/4">
        @for(i of planetas.slice(0, 4); track i.id) {
          <a [routerLink]="['/planets', i.id]" class="boton-parentesis-izq group">
            <span class="text-orange-500 text-xs font-black uppercase tracking-widest group-hover:text-white transition-colors">
              {{i.name}}
            </span>
          </a>

        }

      </div>

      <div class="flex flex-col gap-6 items-start w-1/4">
        @for(i of planetas.slice(4, 8); track i.id) {
          <a [routerLink]="['/planets', i.id]" class="boton-parentesis-der group">
            <span class="text-orange-500 text-xs font-black uppercase tracking-widest group-hover:text-white transition-colors">
              {{i.name}}
            </span>
          </a>
        }
      </div>

    </div>
  }
</div>
