@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Esto evita que la pantalla se mueva */
}

/* Eliminamos el recuadro de enfoque en los elementos del menú */
[routerLink], g, path, svg {
    outline: none !important;
    -webkit-tap-highlight-color: transparent; /* Para que no brille en móviles al tocar */
}

.boton-parentesis-izq, .boton-parentesis-der {
  /* Bajamos el padding a p-2 para que sean más estilizados */
  @apply bg-black/40 backdrop-blur-md border border-orange-500/20 p-2 w-28 text-right transition-all duration-500;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.boton-parentesis-der {
  @apply text-left;
  clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
}

/* El efecto curva ahora con un poco más de suavidad */
.flex-col > a:nth-child(1), .flex-col > a:nth-child(4) {
  margin-right: -30px;
}
.items-start > a:nth-child(1), .items-start > a:nth-child(4) {
  margin-left: -30px;
}

.boton-parentesis-izq:hover, .boton-parentesis-der:hover {
  @apply border-orange-500 bg-orange-500/10 scale-105 shadow-[0_0_20px_rgba(249,115,22,0.3)];
}

.planeta-chroma {
  /* 1. Volvemos el negro transparente */
  mix-blend-mode: screen;

  /* 2. EL TRUCO: Bajamos el brillo y subimos mucho el contraste */
  /* El 'brightness' bajo hace que el gris se vuelva negro. */
  /* El 'contrast' alto hace que el planeta recupere su fuerza. */
  filter: brightness(0.8) contrast(1.4) saturate(1.1);

  /* 3. Un pequeño difuminado en los bordes para que no se vea el corte del cuadro */
  mask-image: radial-gradient(circle, black 60%, transparent 95%);

  width: 100%;
  max-width: 450px;
}

.universo {
  background-color: #050505;
  background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px);
  background-size: 550px 550px, 350px 350px, 250px 250px;
  background-position: 0 0, 40px 60px, 130px 270px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
